*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: yellow;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 30px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.navbar ul li a:active{
    background-color: yellow;
    color: black;
}

.sbtn{
    background-color: yellow;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.sbtn:hover{
    transform: scale(1.2);
}

#home{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 20%;
}

.headings{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;

}
.text-1{
    font-size: 27px;
}
.text-2{
    font-size: 72px;
    font-weight: 600;
    margin-left: -3px;
}
.text-3{
    font-size: 40px;
    margin-left: 5px 0;
}
.text-3 span{
    color: yellow;
    font-weight: 800;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    font-weight: bold;
}

/* About section */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 70px;
    margin-bottom: 100px;
}
#pic{
    display: flex;
    justify-content: center;
}
#pic img{
    width:  432px;
    height: 418px;
    margin-top: 25px;
}
#intro{
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
    padding-left: 40px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#intro p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 20px;
}
.abtn{
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.abtn:hover{
    transform: scale(1.2);
}

/* Portfolio Section */

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9); 
    color: white;
    padding: 10px;
    padding-top: 50px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 350px;
    height: 350px;
    margin: 20px;
}
 
/* Services section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 105px;   
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(82, 82, 82) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(21, 21, 21);
}
.box img{
    width: 90px;
    height: 90px;
    padding: 5px;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    padding-top: 90px;
    padding-bottom: 75px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;

}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white ;
}

/* Footer */
footer{
    position: relative;
    width: 100%;
    height: 200px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}


footer p:nth-child(1){
    letter-spacing: 1px;
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellow;
    border-radius: 50%;
    margin-bottom: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.social img{
    width: 30px;
    height: 30px;
    padding: 7px;
}

.end{
    position: absolute;
    color: yellow;
    bottom: 35px;
    font-size: 12px;
}